p.words {
    color: cornflowerblue;
    font-family: 'Merriweather', serif;
}

p.happy {
    color: goldenrod;
    font-family: 'Noto Sans HK', sans-serif;
}

body {
    background-image: url(bee_on_flower.jpg);
}

div {
    height: 300px;
    width: 500px;
    margin-top: 150px;
    margin-left: 300px;
    background-color: cornsilk;
}